<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SandRCustom</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h2>Hello {{request.session.user}}! Review previous orders!</h2>
    <div id="top">
        <a id=logout href="/logout">Logout</a>
    </div>   
    <div id= orders>
        <h3>Welcome {{request.session.user}}!</h3>
            <!--display Date:order in single box  -->
            <div id=single_order>
            {% for order in all_orders %}
                <p>{{order.created_at}}: "{{order.content}}"</p>
                
                {% endfor%}
            </div> 
        </div>
    </div>
</body>
</html>